# Ignore all files in the tests directory
tests/*

# Except the test scripts starting with 'test_'
!tests/test_*.sh

# Except for the default directory and its contents
!projects/default/
!projects/default/**
